<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} %-5level [%.20thread] %logger{10} - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.github.metrics_matcher" level="DEBUG"/>

</configuration>
